[2014-04-15 17:24] howardroark opened #1 "Any desire to make this a service?"
I proposed the same idea in project today which takes a similar text based approach to rendering UML sequence diagrams as SVG.  I personally feel that the ability to write fluidly about technical ideas in the form of markdown is a big help.  Having a service that would let you render any type of visualization during your stream of conscious seems like it could be quite helpful.

The idea being som

[2014-05-08 03:52] rek opened #2 "Keys not formatted"
Hi there,

I have just installed on linux via <code>cabal install erd</code>

When I run this:

<code>$ ~/.cabal/bin/erd -i simple.er -o simple.png</code>

I get this output:

![simple](https://cloud.githubusercontent.com/assets/180949/2911706/a8572bb0-d663-11e3-9a2e-25f1bb76a023.png)

Note the two keys are neither underlined nor italic.

Any ideas?

[2014-05-11 05:41] #2 closed, assigned to nobody

[2014-09-29 02:03] peplin opened #5 "Improve warning when graphviz is missing"
First off, awesome tool - thanks!

I had one hiccup getting started - I ran `cabal install erd` and saw something about graphviz in the output, so I incorrectly assumed that dependency was taken care of automatically. When I tried to use erd I would get the confusing error:

[code]

which after a few minutes I realized meant that `dot` was not found, meaning graphviz. After installing that everyth

[2015-04-03 17:36] corny commented on #5
Fully agree :+1:

[2015-04-03 17:46] corny opened #6 "Adjusting the output width"
My generated diagram is too wide. How can I adjust the width of the output?

[2015-04-03 18:41] BurntSushi commented on #6
You can't, at least not with `erd` directly. See: https://github.com/BurntSushi/erd#philosophy

Your best bet is to use `erd` to output a `dot` file, and the fiddle with GraphViz options. But it's probably a deep rabbit hole.

[2015-04-03 18:41] #6 closed

[2015-04-03 19:07] corny commented on #6
Ok, thanks. I will solve my problem by using `dot` as output.

[2015-04-09 16:14] ftomassetti commented on #1
Any progress on that? Any thinking about creating a webserver ?

[2015-04-09 16:29] BurntSushi commented on #1
No progress. It's something I'd like to do, but it requires a time budget that I just don't have. Certainly others should press on with it if they like!

[2015-04-09 16:40] ftomassetti commented on #1
Ok, I will look into that and let you know id there is any progress. Ideally I would like something like http://www.planttext.com/planttext

I could write the syntax highlighting module for CodeMirror (and maybe autocompletion also).

[2015-04-17 23:30] ftomassetti opened #10 "Using Erd as a library"
First of all compliments for reaching 100 stars :D
I would like to use Erd as a library in a Web Server (to generate diagrams), are you considering making erd available on hackage also as a library?

[2015-04-18 15:13] BurntSushi commented on #10
Oh! Yay. Didn't even notice. :-)

I haven't really thought of making this available as a library. I probably won't spend the time to do it myself, but I'd be OK with a PR that I'd be willing to maintain unless as it stays simple.

An alternative is to shell out to the `erd` binary, but of course, I understand that is not ideal.

[2015-04-18 15:49] ftomassetti commented on #10
Ok, I will look into preparing that PR. I would basically just move everything but the main function to a library project named erd-lib, leaving in erd just the main and adding a dependency on erd-lib.

In my proof of concept I had just to change a method to get my desired behavior: I made loadER accept a Text instance of a file handle, to make it possible to parse code in memory.

[2015-04-23 15:59] iwanluijks commented on #5
On Windows, when Graphviz is installed, it might not always be the case its installation directory is added to the PATH environment variable. It might be a good one, at least extra informative, to add the following to the warning you suggest: "Make sure the Graphviz bin-directory added to your PATH environment variable."

[2015-06-02 18:56] abertschi opened #11 "graphviz == 2999 not found"
Hi there,

I have a problem installing erd on my system.

Using `cabal install erd`, I get

[code]

Trying to download the source and firing up `cabal configure`, graphiz does not seem to be found.

[code]

`cabal update` was previously run.

Any held would be appreciated.

[2015-06-15 18:52] howardroark commented on #1
Hey @ftomassetti have a look at... https://bramp.github.io/js-sequence-diagrams/

It is very similar to planttext!  I was playing using phantomjs to make it a web service here... https://github.com/codingcoop/get-diagrams

[2015-06-16 11:20] ftomassetti commented on #1
I wrapped this in a web server (https://github.com/ftomassetti/erd-web-server), just in case someone is interested

@howardroark your stuff seems cool, but I was looking for ER diagrams

[2015-06-17 09:16] eric-brechemier commented on #11
@abertschi I feel like [this commit](https://github.com/eric-brechemier/erd/commit/51b0807564f5be7cda06bec8bb54bbe3839f6c38) might fix your issue. Perhaps you can try to install erd from latest source?

@BurntSushi What do you think? Would it help to update the version published on cabal?

[2015-06-17 10:33] eric-brechemier commented on #11
@abertschi I tried a fresh install from OS X 10.10.3 today,, and I had no issue.

I followed these steps:

1. Install GHC for OSX from: https://www.haskell.org/downloads/osx
2. launch GHC for OSX and follow step by step instructions to configure ghc
3. from a terminal, run `cabal update` to initialize the list of packages for cabal
4. install erd by running `cabal erd`

[2015-06-17 12:06] eric-brechemier opened #12 "Update URL for download of simple.er example from raw.github.com in README"
The curl command results in a zero-length file. The domain has moved to 'raw.githubusercontent.com':

https://developer.github.com/changes/2014-04-25-user-content-security/

[2015-06-22 06:22] abertschi commented on #11
@eric-brechemier, I cloned your fork from [this commit](https://github.com/eric-brechemier/erd/commit/51b0807564f5be7cda06bec8bb54bbe3839f6c38), performed a `cabal update `and `cabal install erd` with `brew install graphviz` beforehand and managed to solve the issue. Thanks a lot.

[2015-06-22 06:22] #11 closed

[2015-06-22 07:44] eric-brechemier commented on #11
@abertschi I'm glad it helped. For your information, this commit has been merged upstream, so you should be good to go with the master branch of the main project (BurntSushi/erd) as well.

[2015-08-10 05:41] t-8ch opened #14 "Release new version with relaxed requirement on `base` to hackage"
Currently `erd` as published to hackage (version 0.1.3.0) can not be installed out of the box on 7.10.

[2015-09-07 09:42] andruby commented on #14
I'm also bumping into this issue:
[code]

[2015-09-08 17:31] oz123 opened #15 "primary keys are not underlined and foreign keys are not italicized."
The readme states:

I installed erd from cabal, and I invoked erd with the given example and the output file I get is not as described:
![simple](https://cloud.githubusercontent.com/assets/1083045/9742388/23729956-5660-11e5-8b72-ae39b7774832.png)

I would appreciate if you looked into it.

[2015-10-19 10:01] zires commented on #14
@andruby did you find any solution?

[2015-10-19 13:12] BurntSushi commented on #14
This is where I got stuck last time: https://github.com/BurntSushi/erd/pull/8#issuecomment-94173031

[2015-10-19 13:49] andruby commented on #14
I cloned the repo and built it from source as explained on the readme. Then copied `./dist/build/erd/erd` to `/usr/local/bin`

[2015-11-05 05:16] varontron commented on #15
Same issue building from source.

[2015-12-09 00:21] almccann commented on #14
Hi. I'm also getting this same issue with ghc 7.10.1.  What is the correct version of ghc to use?

Also, I don't have the option to configure and make, because that's suggesting the dependencies are missing (following the directions in the readme to clone from git).

[2015-12-10 10:29] t-8ch commented on #14
@BurntSushi I didn't test it but the changelog of Graphviz says, it is now compatible to 7.10.*
http://projects.haskell.org/graphviz/changelog.html

[2016-01-20 09:25] khalid-hussain opened #17 "Resolving dependencies on Windows"
I'm getting the following error on Windows. I've installed it from source, installed GraphViz, and set the path for the latter's `bin` directory as well; I know it is working as `dot -V` gives me correct output.
[code]

I've also tried running the command after using the `cabal update` command. Any ideas?

Thanks for your time.

[2016-01-20 11:35] BurntSushi commented on #17
Dupe of #14 unfortunately.

I need to try a release again. When I tried before, the new version of GHC wasn't compatible with all dependencies (graphviz in particular) and I saw no easy way to fix it. Maybe this has changed.

[2016-01-20 11:35] #17 closed

[2016-05-03 01:08] 0culus commented on #15
This is a problem for me too. @BurntSushi  any ideas?

[2016-06-07 21:13] RainbowZephyr opened #19 "N-nary relations"
First of all, I would like to applaud you for this project I have been looking for a tool like this for a long time.

Secondly I want to ask  if it is possible to support N-nary relation ships between tables.

[2016-06-07 22:59] BurntSushi commented on #19
Could you say more about what it means to support n-ary relationships?
On Jun 7, 2016 5:13 PM, "RainbowZephyr" <notifications@github.com> wrote:

[2016-06-08 14:43] RainbowZephyr commented on #19
Something like this:
https://www.dlsweb.rmit.edu.au/toolbox/ecommerce/tbn_respak/tbn_e2/html/tbn_e2_devsol/images/ternary.gif

a relationship which joins multiple tables togther

[2016-06-08 14:45] BurntSushi commented on #19
There's no support for that. If you can find a *simple* way to add to it, I'd be happy to accept a PR.

[2016-09-05 06:39] bbqsrc commented on #15
It's probably a bug in graphviz itself:

http://www.graphviz.org/mantisbt/view.php?id=2592#c1041

[2016-09-09 10:04] kokizzu opened #20 "Error Install on 64-bit ArchLinux"
[code]

installed archlinux package:
[code]

the same with second method
[code]

[2016-09-13 09:38] kokizzu commented on #20
nevermind, got it working

[code]

[2016-09-13 09:38] #20 closed

[2016-10-17 09:47] xavriley commented on #15
I can confirm that the following fixed this for me running on OSX

[code]

[2016-10-17 21:41] #15 closed

[2017-03-30 09:57] lilongthinker opened #23 "will this be an atom plugin like plantuml"
plantuml preview plugin in atom https://github.com/peele/plantuml-preview

[2017-03-30 11:44] BurntSushi commented on #23
There are no plans to make any plugins. If someone wants it, they will have to do it.

[2017-03-30 11:44] #23 closed

[2017-04-27 08:43] adamist521 opened #24 "Fail to install on OSX Sierra"
Failed to install erd with cabal.

[code]
FYI,
[code]

[2017-04-27 09:17] adamist521 commented on #24
Was able to install by code below.

[code]

[2017-04-27 09:19] adamist521 opened #25 "0 or 1 relation fails"
When I use `0` relation (0 or 1) which is in `simple.er` manual, I get following error.
Any clue?

[code]

[2017-04-27 09:43] BurntSushi commented on #25
Please include a full reproducible example of the problem...

[2017-04-28 06:39] adamist521 commented on #25
Sorry.
Just edited `simple.er`.

[code]

Executing `erd` gives following error.
[code]

[2017-05-12 15:57] qizwiz commented on #24
Thanks for this!
While I think your method is preferable, I was also able to get it to install by changing the base from 4.7 to 4.9 in the cabal file.

[2017-07-12 13:50] chreble commented on #24
```cabal install --allow-newer erd``` also works

[2017-09-04 22:54] carld commented on #24
Haskell newbie here, started out with `brew cask install haskell-platform`

[code]
Any suggestions appreciated thanks!

[2017-09-05 00:21] carld commented on #24
For posterity... I installed erd after running `--force-reinstalls` of parsec etc

[2017-09-08 16:23] combinatorist commented on #24
I spent 3 hours trying to install this package. As a first time haskell user, I tried everything with no clue what I was doing until I saw this comment: https://github.com/BurntSushi/erd/issues/24#issuecomment-314775206 by @chreble

Thanks @chreble!

I just made a PR (#27) to "fix" the documentation. I have no idea how this works, but would love to make it easier for first time users.

[2017-09-20 16:00] JohnWCartmell opened #28 "Another ER scripting language"
Having read the readme can I add that I have been developing an ER scripting language for some time at Cyprotex Discovery Ltd and am now releasing on GitHub https://github.com/JohnWCartmell/ERmodelSeries1/blob/master/README.md.  Sadly no automatic diagram layout. Work is in progress to improve the diagram support.

[2017-09-20 16:07] BurntSushi commented on #28
There's nothing in the README that tells me how to use the code, so I'm not really comfortable linking to it. Please provide a simple hello world example like the one in erd's README: https://github.com/BurntSushi/erd#quick-example

[2017-09-20 16:10] JohnWCartmell commented on #28
That's fine. Don't worry about it. Just wanted to communicate the existence
to you. Best. John

On 20 Sep 2017 17:07, "Andrew Gallant" <notifications@github.com> wrote:

[2017-09-20 16:13] BurntSushi commented on #28
All righty, thanks!

[2017-09-20 16:13] #28 closed

[2017-10-20 07:48] rrooij commented on #25
`Person *--0 Location`

is now:

`Person *--? Location`

[2017-11-07 23:37] #25 closed

[2017-12-29 09:47] momijiame opened #29 "Python 3.x compatibility issue (print function)"
I found some Python 3.x compatibility issue.

My environment is following
[code]

`-s` option does not work at Python 3.x environment.
[code]
Since `print` became a function at Python 3.x.

[2017-12-29 09:50] momijiame commented on #29
I am sorry. I mistook the repository.

[2017-12-29 09:50] #29 closed

[2018-02-05 16:09] 0xcaff commented on #1
This could be implemented with wasm!

[2018-02-16 08:26] ensonic commented on #14
Confirming that `cabal install erd --allow-newer` works too. When installing from the sources this worked for me:
[code]

[2018-02-16 09:04] ensonic opened #30 "bgcolor on header would be nice to have"
https://github.com/BurntSushi/erd#all-formatting-options sais it is only available for entities and attributes, but it is cumbersome and noisy to have to set it on the header and reset it on any entity.

[2018-02-16 11:52] BurntSushi commented on #30
Right above that, the README states:

[2018-02-16 11:52] #30 closed

[2018-02-18 22:38] taybin opened #31 "Output raw dot file"
Instead of just having `erd` call graphviz, could it also output the generated dot file for further hand editing, as another output format?

[2018-02-18 22:41] taybin commented on #31
Nevermind, just read the source and saw that `dot` is already an output option.  Thank you.

[2018-02-18 22:41] #31 closed

[2018-03-01 16:07] kyr0 commented on #24
Yes, please add it to the docs; it's such an easy change... I was looking into it for a few minutes too.

[2018-03-21 11:40] benjamin-demarteau commented on #24
Still having problems, there seems to be an error with wl-pprinter-text:
[code]

[2018-03-21 16:54] nwokeo commented on #24
I had the same problem, seems to be due to [this issue](https://github.com/ivan-m/wl-pprint-text/issues/18).

I was able to resolve by installing haskell-platform via cask: `brew cask install haskell-platform` then installing erd: `cabal install --allow-newer erd`

[2018-03-22 08:52] benjamin-demarteau commented on #24
That fixed it for me, thanks.

[2018-03-29 08:13] Yoolee-Song commented on #20
thank you....:)

[2018-04-08 17:44] Anupriya014 opened #33 "Changing visulization of relationship between entities"
Hello @BurntSushi & @echeon !

I was just wondering is there any way to change the dotted line connecting entities to ungapped line with 'head' and 'tail' ?
To understand the complete script is difficult for me & hence, I am unable to edit it..
Please help me out.

Thank you in advance. :)

[2018-04-26 15:23] davideanastasia opened #34 "Cannot compile on Ubuntu 16.04"
Running a "camel configure" gives me the following error:

`cabal configure
Resolving dependencies...
Configuring erd-0.1.3.0...
cabal: At least the following dependencies are missing:
graphviz ==2999.*, parsec ==3.1.*, text ==1.*
`

How can this be solved?

[2018-04-26 16:43] davideanastasia commented on #34
Solved by installing dependencies manually (is there a way to this could have been done automatically?)

[2018-04-26 16:43] #34 closed

[2018-05-09 00:53] rclayton-the-terrible commented on #24
I don't know how this is working for people.  I've tried on OSX and Docker and keep getting the following output:

[code]

[2018-05-09 01:51] qizwiz commented on #24
@rclayton-the-terrible I just tried it myself and got your same errors. I noticed all the errors were the same and from the same package.

From that, I tried installing graphviz by itself.

`$ cabal install graphviz`

That worked. And then I was able to do:

`$ cabal install --allow-newer erd`

So give that a shot.

[2018-05-09 14:05] rclayton-the-terrible commented on #24
@qizwiz hey that worked!  Thank you so much.

I don't know a thing about Haskell or it's toolchain, but I noticed installing via `cabal` doesn't create an executable on the `$PATH`, so I've been running everything with `cabal run erd -- ...` . Is this the right approach?  Or am I missing something?

[2018-05-09 16:45] qizwiz commented on #24
@rclayton-the-terrible
I have a mac. It looks like you have linux.

The relevant lines in my ~/.cabal/config file looks like this

[code]
If this file exists, perhaps you'll find the same hint there for you (it'll almost certainly be different).
The documentation can be found here: [2.1. Configuration](https://www.haskell.org/cabal/users-guide/installing-packages.html)

[2018-05-10 00:05] rclayton-the-terrible commented on #24
@qizwiz I tried both macOS and Linux (as a Docker container `FROM haskell`.  Same outcome for both.  The fix was to install Graphviz via `cabal` and not some other mechanism (like `brew`).

[2018-05-10 02:34] qizwiz commented on #24
@rclayton-the-terrible I was addressing the second part of your question. Seemed like you were having problems with the binpath for packages you installed with cabal

[2018-06-25 08:39] drjonnicholson commented on #14
I can confirm that `cabal install erd --allow-newer` installed `erd` for me. Can an update be made to the read me to suggest this fix if `cabal install erd` doesn't work at first? Would save people time trying to find a solution...

[2018-08-17 17:56] bbkane opened #35 "Consider adding QuickDBD to "Similar Software""
https://app.quickdatabasediagrams.com/#/ is a free web-based app that uses a text format to draw diagrams. I've used it with some success for simple database diagrams. You might add it to the Similar Software section of the README.

[2018-08-30 22:34] windbender opened #36 "it would be nice to allow the relationships to terminate at particular fields."
Right now the relationships are table to table.
[users]
*id
name

[cats]
*id
name
owner_id

users 1--* cats
However inside a database, the relationships are expressed as a field to field.  For example.

[users]
*id
name

[cats]
*id
name
owner_id

users:id 1--* cats: owner_id                 <----- THIS HERE IS WHAT IS DIFFERENT

It turns out that the dot language has a means of expressing the "por

[2018-09-03 19:33] phylor commented on #14
I had to pass another option to make it compile: `cabal install erd --allow-newer --ghc-options '-fPIC'`

[2018-09-04 19:52] windbender opened #37 "watching an input file"
It would be nice to have erd be able to watch an input file for changes and then mirror the changes into the transformed file.

[2018-09-08 11:44] sandebert commented on #37
It sure would, and that's why we have tools like [entr](http://entrproject.org/), [watchexec](https://github.com/watchexec/watchexec) and [several other alternatives](https://news.ycombinator.com/item?id=13856623).

I propose to close this ticket. :)

[2018-09-08 11:55] sandebert opened #38 "Request for release"
Looking at the instructions it doesn't seem overly complicated to compile erd for Linux, but I kind of feel a resistance to installing Haskell just for this (never needed it before) and at least getting a shallow insight into that universe.

As such I was wondering if it might be possible to perhaps just make a release for Linux, containing nothing more than the erd binary? (I'm making the assumpt

[2018-09-08 13:02] BurntSushi commented on #38
No, sorry.

[2018-09-08 13:02] #38 closed

[2018-09-08 16:52] windbender commented on #37
It would. I'm currently using fswatch.  However, now I need a script and additional install to pull all that together.  I certainly do not view this as a must have,  but something more of a "nice to have".

[2018-09-08 17:00] BurntSushi commented on #37
This program is effectively unmaintained. It hasn't seen any real work in years. There's no way a major feature like this will ever happen.

[2018-09-08 17:00] #37 closed

[2018-09-17 07:23] mcdejonge opened #39 "Installation issues"
Hi,

Cool tool!

I did have some issues installing on OS X + Homebrew, though:

* cabal install erd does not work at all
* Installing manually fails as well:
    * base is set to be larger than 4.5, but the current version is 4.11 which for some reason is not seen as being larger than 4.5 (probably a cabal issue?). Workaround: set base >= 4.1
    * graphviz is not installed automatically, so you n

[2018-09-26 12:44] mrgou commented on #39
Hi,

I'm trying to run erd, but have no knowledge whatsoever about Haskell and cabal. For your workaround on the first issue, how do you set base >= 4.1 ?

Thanks!

[2018-09-26 14:30] mrgou commented on #36
I wholeheartedly support this request!

[2018-09-27 06:54] mcdejonge commented on #39
You can do this in the cabal file in the source directory (erd.cabal)

[2019-01-16 11:39] ggrossetie opened #40 "Build a statically linked binary"
Hello and thanks for this project!

I'm trying to build a statically linked binary from the source. I'm not very familiar with the Haskell ecosystem so I've been using this blog post https://vaibhavsagar.com/blog/2018/01/03/static-haskell-nix/ to get me started.

I have the following `Dockerfile` to build the project:

[code]

As you can see I'm using `new` prefixed commands because `cabal` was co

[2019-01-16 11:58] BurntSushi commented on #40
No, I don't know, sorry.

[2019-01-16 12:23] Mogztter commented on #40
Alright, thanks for your quick reply, I will try to dig a bit further 😄

[2019-01-20 15:50] andrea-berling opened #41 "Fails to install on Arch Linux"
It fails to install on Arch Linux. I believe I have installed all the needed dependencies (graphviz, ghc, cabal-install,...) but it still has errors and it won't install. This is the output of the `cabal configure` command:
[code]

[2019-01-20 15:58] BurntSushi commented on #41
I don't actively maintain this project. There are plenty of issues documenting installation options. Apparently, over the years, cabal has broken the build for this project. I don't have any plans to fix it.

[2019-01-20 16:05] andrea-berling commented on #41
I see. It's a shame though, your software looked exactly like what I needed and, as you said, there are pretty much no alternatives to it that do the same (and erwiz site is down too, so tough titties for me I guess).

[2019-01-20 16:08] BurntSushi commented on #41
You might consider looking into how to fix it.

[2019-01-23 14:19] Mogztter commented on #40
Just a quick note, it's actually working using "old" cabal commands:

[code]

@BurntSushi If you want I can submit a pull request with this Dockerfile ? Or add a documentation page somewhere if you think that it can be useful ? :wink:

[2019-01-23 14:21] BurntSushi commented on #40
I'd be happy to add a link, but I definitely do not want to adopt a `Dockerfile` in a project that is already unmaintained.

[2019-01-23 14:30] Mogztter commented on #40
Oh I didn't know that the project is unmaintained.
The idea is not to publish this Docker image to the Docker registry: https://hub.docker.com
It's really just about building a statically linked binary then you can copy this binary and do whatever you want.
Should I add a mention in the README ?

[2019-01-27 17:42] BurntSushi commented on #41
Sure. Public issues are preferable. I don't know how much use I'll be though. I haven't looked at this project in years.

[2019-02-09 16:59] nh2 commented on #40
Hey, I found this because I got pinged on https://github.com/haskell/cabal/issues/5847.

What you want to do is really easy with https://github.com/nh2/static-haskell-nix: Just check out the repo, do what it says in the README, and run:

[code]

This will generate a 3.8 MB static `erd` for you.

I have attached it here: [erd-0.1.3.0-static-linux-x86_64.zip](https://github.com/BurntSushi/erd/files/

[2019-02-10 09:33] Mogztter commented on #40
Hello @nh2
Thanks for your reply.

As mentioned, I'm not familiar with the whole Haskell ecosystem. I finally got this working using `cabal` "old" commands.

What are the advantages of using `nixpkgs` ? Also I'm building the binary from a Docker image to make the build reproducible (and avoid Haskell build tools installation on the local machine).
In your repository you talk about building against

[2019-02-10 18:04] nh2 commented on #40
@Mogztter

Yep, understood.

Reproducibility to a high degree, and getting a `musl` based toolchain. It can be a pain to get a full musl-based compiler toolchain available on Linux distributions that default to glibc, because you have to rebuild everything yourself. With nixpkgs you can "codify" this toolchain, and easily share the work across multiple different binaries (e.g. my repo building all

[2019-02-10 18:07] BurntSushi commented on #40
If someone wanted to take over this code and manage the Stack package, that'd be great!

[2019-02-11 15:17] nh2 commented on #40
@BurntSushi mind making a short, pinned "looking for new maintainer" issue?

That would make it obvious for people looking at issues. I'd then link it for you on Haskell reddit and mailing lists unless you want to do that. The package seems beginner friendly so chances are high somebody would like to take it over.

[2019-02-11 15:22] BurntSushi opened #42 "looking for maintainer(s)"
This package has been fairly unmaintained for a long time, but there is a steady stream of interest in it. I doubt I'll ever get back into this project specifically, so I'd be happy to see it live on in the hands of someone else.

My thinking is that I could add interested parties as contributors to this repo. If things go well for a ~year, then I'd be happy to just transfer ownership of the repo

[2019-02-11 15:23] BurntSushi commented on #40
@nh2 Sure, good idea. See #42.

[2019-02-11 16:52] nh2 commented on #42
From https://github.com/BurntSushi/erd/issues/40#issuecomment-462365015

I've done this, [Reddit](https://www.reddit.com/r/haskell/comments/api3s6/erd_package_looking_for_maintainer_beginner/) and the Haskell-Cafe mailing list.

[2019-02-11 19:55] mmzx commented on #42
I would be interested in taking part. Could make recommendations on entry-points?

[2019-02-11 20:42] BurntSushi commented on #42
@mmzx I haven't looked at the code in about five years myself. So I'm probably pretty useless. If I were to start somewhere, I'd look into the issue tracker and see about fixing the various build issues people have had. And potentially migrate to Stack (or support in addition to Cabal). Otherwise, there isn't that much code. Tokei reports ~500 SLOC.

[2019-02-11 20:49] mmzx commented on #42
Yep. I have just noticed actually it is not that much of code... 1 PR made already.

[2019-02-11 20:58] BurntSushi commented on #42
@mmzx To clarify, I'm not looking for contributions, but rather, maintainers. I don't have the bandwidth to do PR review. Is taking over maintenance something you'd like to do?

[2019-02-11 21:39] mmzx commented on #42
@BurntSushi indeed, I do have the capacity and willingness to take maintenance in this repository.

[2019-02-11 21:52] BurntSushi commented on #42
@mmzx Awesome, thanks! I've added you as a collaborator. :)

[2019-02-11 23:12] mmzx commented on #39
Please let us know whether installation with cabal succeeds as mentioned in #27 .
The command would be `cabal install --allow-newer erd`.

[2019-02-11 23:15] mmzx commented on #42
@BurntSushi Thanks! Started working on some basics...

[2019-02-12 03:32] jasondeutsch commented on #42
@BurntSushi Very interested in contributing

[2019-02-12 08:38] kahlil29 commented on #42
@BurntSushi Interested in collaborating/maintaining/contributing to this repo, though I haven't the first clue what it's all about.
I'm quite okay with Haskell though,  So I think some reading through should get me up to speed 👍

[2019-02-13 21:14] mmzx commented on #41
@andrea-berling You may have a look at the updated repository (branch: master), you should be able to build to project now either with stack or cabal (`cabal install --allow-newer erd`).

[2019-02-13 21:59] andrea-berling commented on #41
@mmzx I managed to install it successfully, thanks a lot.

[2019-02-14 10:04] #41 closed

[2019-02-14 14:47] zhujinxuan commented on #42
Hi, I am interested in maintaining or contributing.  I have some experiences of parser contaminator https://github.com/ixmatus/orgmode-parse/pull/42 and have some experience in solving kata with haskell (2kyu in codewars, https://www.codewars.com/users/zhujinxuan/stats)

Can you add the travis to this repo?  It seems only the repo owner (not the maintainer) can grant permission for travis.

Thank

[2019-02-14 14:55] BurntSushi commented on #42
Thanks! I've enabled Travis.

[2019-02-14 14:57] zhujinxuan commented on #42
@BurntSushi Cool, I will submit a PR this weekend to make test and hlint running with every PR.

[2019-02-14 20:19] zhujinxuan commented on #42
@BurntSushi Hi, can you add me as maintainer/collaborator?

Currently I am thinking about the following things in this repo:
1. Use Attoparsec instead of parsec.  Attoparsec is faster, and we can use Monad.fail instead of Either
2. Some more modern haskell practice: Use hlint for some neater expression.  Use package.yml to generate .cabal.
3. Error message with position info
4. For bin distributio

[2019-02-14 21:40] BurntSushi commented on #42
@zhujinxuan I've added you as a collaborator.

Points 2 and 3 sound fine to me.

For point (1), I'd advise against major architectural changes for performance reasons unless you have good evidence that performance is actually a concern that is negatively impacting the user experience. I strongly suspect this is not, and will likely never be, the case. Unless parsec is unmaintained (I've not been i

[2019-02-18 15:00] zhujinxuan commented on #42
@BurntSushi Hi, would you like to add WIP plugin (https://github.com/settings/installations/208485) into this github project?  WIP plugin helps to prevent careless merge when there is a "work in process" label in the PR.  It is only a plugin on github, and will not affect the code.

[2019-02-18 15:06] BurntSushi commented on #42
@zhujinxuan That link gives me a 404.

I think adding a WIP label or using [draft pull requests](https://github.blog/2019-02-14-introducing-draft-pull-requests/) should be sufficient.

[2019-02-18 15:09] zhujinxuan commented on #42
@BurntSushi Draft pull request is great.  I think I shall add PR template to ensure I will not forget WIP label everytime.

[2019-02-20 08:35] juhuan opened #48 "install error on mac"
[code]

[2019-02-26 20:55] zhujinxuan commented on #48
I see. The `--with-pango` is no longer supported in the brew formula.  You can use `brew install graphviz` to install graphviz.

I will update the document.

[2019-02-26 20:55] #48 closed

[2019-02-26 21:13] zhujinxuan commented on #39
Hi, I think it is due to, when @BurntSushi publishing the package last time, the cabal file is `base == 4.7.*` (http://hackage.haskell.org/package/erd-0.1.3.0/src/erd.cabal)

I do not have the permission to republish it.  Perhaps @BurntSushi can republish with current cabal?

As a temporary solution, `cabal install --allow-newer erd`.

[2019-02-26 21:24] #12 closed

[2019-02-26 21:24] zhujinxuan commented on #12
Fixed.  Thank you!

[2019-02-27 22:53] mmzx opened #52 "Releasing a new version"
There are some reasons that would favor creating a new version:
- Issue #14 has been actually done in commit: 51b0807564f5be7cda06bec8bb54bbe3839f6c38 .
- It would be nice to have a new version uploaded to hackage and that requires at least a minor version bump.
- There has been new features added.
- The new build system of hackage would be utilized, currently (#14) does not let the build to succe

[2019-02-27 22:56] mmzx commented on #52
@BurntSushi, currently you are the maintainer of this package according to the hackage database. If this issue was relevant could you please change the settings to make it possible to upload a new version to hackage?

[2019-03-09 22:10] mmzx commented on #39
In order to publish _erd_ on hackage the version has to be increased ( #52 ). Once the PRs are all reviewed would be nice to do this.

[2019-03-09 22:12] mmzx commented on #39
However, the request in this ticket: increasing version of _base_, has already been done.

[2019-03-09 22:12] #39 closed

[2019-03-10 10:57] mmzx commented on #5
It has been added in #45 .

[2019-03-10 10:57] #5 closed

[2019-03-20 03:02] georgexsh opened #55 "Unable to render `examples/simple.er`"
using erd via docker, image is rebuild from https://github.com/vranac/erd
[code]
error message:
[code]

[2019-03-23 13:44] mmzx commented on #55
@georgexsh , The package version that is available on hackage is fairly old (would rather say: obsolete), I am trying to get a new version uploaded, at some point, it must happen... (#52).

I recommend you update your docker file [1], to use the master branch of this repository and get either cabal or stack (both works equally well) to build it for you for the time being.

You can also use cabal t

[2019-03-23 14:00] BurntSushi commented on #52
@mmzx I can change the settings sure. But I need to enter a user account for uploading new versions. What is your Hackage account username?

[2019-03-23 15:30] mmzx commented on #52
@BurntSushi it is: mmzx .

[2019-03-25 13:25] BurntSushi commented on #52
@mmzx Thanks. I've added you.

[2019-03-25 13:29] mmzx commented on #52
Brilliant, thank you! Later today I will make the necessary action(s).
What do you think about v1.4.0?

[2019-03-25 13:34] BurntSushi commented on #52
If there's a breaking change, then do a major version bump.

[2019-03-26 07:46] mmzx commented on #52
Thanks! 0.2.0.0 has been uploaded to hackage.

[2019-03-26 07:46] #52 closed

[2019-03-26 22:45] mmzx commented on #55
@georgexsh from now, you shall not need to make the above workaround, cabal as the source of the package should work in your use-case as expected.

[2019-03-26 22:47] mmzx commented on #33
@Anupriya014 There is added support now to change the style of line (**-e** in command-line).

[2019-03-29 16:39] nmihaica opened #58 "Stack Bytestring"
On linux, had stack v1.5.something

Tried `stack upgrade`ing but it kept
throwing
[4077](https://github.com/commercialhaskell/stack/issues/4077)

`rm -rf ~/.stack`
`rm -rf ~/.local/bin/stack`

---
Finally install with force.
`curl -sSL https://get.haskellstack.org/ | sh -s - -f`

[2019-03-29 16:39] #58 closed

[2019-04-23 20:47] nickolay commented on #33
I think `-e` controls the shape of the lines, not their style and head/tail.

To make the line solid, you'd have to change [A.Dashed here](https://github.com/BurntSushi/erd/blob/cdd59cd159a32563c2eb0aca5160821c61244512/app/Main.hs#L51) to `Solid` or one of the values from [this list](http://hackage.haskell.org/package/graphviz-2999.20.0.3/docs/Data-GraphViz-Attributes-Complete.html#t:StyleName).

[2019-04-23 20:49] nickolay commented on #35
While googling the graphviz syntax for ER diagrams, I came across http://schemaspy.sourceforge.net/sample/relationships.html (Java, open-source, automatic documentation from the DB). Not similar, but related.

[2019-04-25 20:20] ava-dylang opened #59 "(stack) AesonException "Invalid flag name: \"bytestring--lt-0_10_4\"""
[code]

_reported for posterity_

According to [an upstream comment](https://github.com/commercialhaskell/stack/issues/4077#issuecomment-396476695), the minium `stack` version for this project is 1.7.1

[2019-05-10 20:39] ava-dylang commented on #59
on debian stretch, the `cabal-installer` installer package can be used to get `cabal`, and `cabal` cabn be used to install erd like so

[code]
the erd binary will be here `~/.cabal/bin/erd`

[2019-05-10 20:39] #59 closed

[2019-07-04 15:47] whatacold commented on #1
Hi,

Recently I take some time to implement a web server and host it on Heroku,
https://serene-forest-18642.herokuapp.com/erd-repl/ ( Yeah, the UI is ugly, I know :( ),
I hope it will help someone.

There are times I think a web server will be more convenient:
- You want to try it out, but just fail to install it properly
- You've used it before on some box, but the box isn't at hand.
- In collabo

[2019-07-08 23:09] mmzx commented on #1
Thanks for letting us know! The resulted image can be downloaded when one _views_ it in the browser.

[2019-08-02 08:57] edoardohorse commented on #19
Is there a way to create a generalization from entities?

[2019-08-23 14:05] gonzaloserrano commented on #1
Hey @whatacold that's awesome, any plan to make it open source? Thx!

[2019-08-24 03:42] whatacold commented on #1
@gonzaloserrano I would open source it if you're insterested, though it's quite simple :)

[2019-08-29 09:55] gonzaloserrano commented on #1
Thank you!

[2019-10-03 16:56] Mogztter commented on #40
@mmzx I have seen that the project can now be built using stack. What is the recommended way to create a statically linked binary? Thanks!

[2019-10-03 18:15] mmzx commented on #40
@Mogzitter, can you maybe have a look at the link below?
I would be able to give a better answer towards the weekend, at the moment I'm in the road...
https://github.com/commercialhaskell/stack/issues/3420

[2019-10-03 20:49] nh2 commented on #40
`static-haskell-nix` can do it for stack projects: https://github.com/nh2/static-haskell-nix/#building-stack-projects

[2019-10-04 06:32] Mogztter commented on #40
@nh2 I'm using a Docker image to build the project and I'm not familiar with nix so https://github.com/nh2/static-haskell-nix/blob/master/static-stack2nix-builder-example/default.nix is really cryptic for me :thinking:

Do you provide a Docker image to build a statically linked binary with `static-haskell-nix` ?
Ideally I want to do something like:

[code]

[2019-10-04 07:10] Mogztter commented on #40
@nh2 Is that the case now? Can I get a pre-built statically linked binary of erd somewhere?

[2019-10-04 07:43] Mogztter commented on #40
For reference the following is working:

[code]

[2019-10-04 13:01] nh2 commented on #40
It looks not, `erd` is not on https://www.stackage.org/lts-14.7. Did anybody make an effort to add it?

No, Docker does not really provide any benefit over using nix directly on a host system, so it is unlikely that anybody will do that.

Be aware that your Docker image is using Ubuntu, which means **you are statically linking against glibc, which does not properly support static linking** (neithe

[2019-10-04 13:22] Mogztter commented on #40
Sorry I misread, it's published on hackage not stackage 😅
http://hackage.haskell.org/package/erd

Ok but I can install Nix on an Alpine image?

I tried to use an Alpine based image, but `stack` threw an error. I don't have the stack trace anymore but basically `stack` was unable to install GHC.

Should we add this file to the `erd` repository ?

Thanks for the explanation.
I was a bit confused wit

[2019-10-04 13:39] nh2 commented on #40
@Mogztter That's possible but the question may not make sense. You need either `nix` (on any OS, without Docker) or Alpine (for example in Docker) in order to get a musl-based build.

Yes.

Ah I see. Indeed NixOS is not necessary. Only the nix build tool, and the nixpkgs repository of software, which you can run on any Linux distro.

Yes, there have been some problems with stack on Alpine with its

[2019-10-06 17:14] mmzx opened #60 "Create Nix-expression to build with nix."

[2019-10-15 21:04] #60 closed

[2019-10-15 21:09] mmzx commented on #40
@Mogztter the master just got updated with the descriptions and help from @nh2 in a form of a script.
@nh2 Thanks, `static-haskell-nix` is quite nice!

[2019-10-24 12:25] mmzx commented on #40
I am currently working on to put erd into stackage, but having some obstacles on the way.

[2019-11-01 20:17] jonathan-chin opened #62 "text alignment?"
I'm running this on OSX High Sierra, installed via Stack.

My attributes seem to be right aligned, whereas the sample pdf is left aligned. I think left aligned makes it so much easier to read.

How can I specify this? I don't think there's an option in the README.

[This is what I get](https://github.com/BurntSushi/erd/files/3799459/simple.pdf)

[2019-11-02 09:43] mmzx commented on #62
Could you perhaps paste/provide your erd file here?

[2019-11-02 09:49] mmzx opened #63 "Erd configuration file in ~/.erd.yaml"
To mitigate the increasing amount of command-line arguments that describe formatting options of the resulted output. This is a proposal to have a configuration file that stores such descriptions. There would be priority decided between command-line and config-file provided options.

[2019-11-03 19:58] jonathan-chin commented on #62
@mmzx I see it even with the example sample.er
![Screen Shot 2019-11-03 at 2 56 58 PM](https://user-images.githubusercontent.com/7519412/68091166-52b2df00-fe4a-11e9-8be2-4f17c0370980.png)

[2019-11-03 20:56] mmzx commented on #62
@jonathan-chin , currently the text alignment is hard coded, that is, node specific alignment is not supported. You could e.g. do something like the following, which is only a partial solution - because globally applied for all nodes.
`erd -i ./examples/simple.er -f dot | sed s/RIGHT/LEFT/g | dot -o"sample.pdf" -Tpdf`
Results in:
![image](https://user-images.githubusercontent.com/1039486/68091798-

[2019-11-03 21:34] jonathan-chin commented on #62
@mmzx I'm also curious because my keys and node titles don't get the same styling that you do (bold, underline, italics). Is it because of my OS? because I compiled it from Stack?

[2019-11-03 21:45] mmzx commented on #62
@jonathan-chin , compiling it via stack or something else would not affect outcome.
If you would post your _erd_ file and intermediate _html_ (dot) we might understand more. I do not have access to osx, so looking at these intermediates could help.

[2019-11-03 21:55] jonathan-chin commented on #62
here is my ERD file (it's the one from the repo; just including it for completeness sake)

[code]

here (I believe) is the dot file generated by `erd -i ./simple.er -f dot > simple.dot`

[code]

[2019-11-05 08:48] mmzx commented on #62
The _dot_ file is correct, generated as it should be. So my assumption will be that it is your local setup that contributes to the differences.
What is your version of _dot (dot -V)_?
Maybe you could try other output format(s), e.g. svg, which can be checked in a web-browser.

[2019-11-05 17:09] jonathan-chin commented on #62
Thanks. I do notice that in the dot file, there's `<TD ALIGN="RIGHT">`

my dot version is `dot - graphviz version 2.40.1 (20161225.0304)`

I also just tried some other output formats (png, jpg, gif, svg, pdf) and it's the same. right aligned, no other styling on keys.

[2019-11-05 19:41] mmzx commented on #62
- The default is to generate right aligned text, that is what is shown in your generated _erd_ file.

- Currently it is not supported to change the alignment of the text by _erd_ via command or by other means.

- Would you want to change the alignment of the text, via the above suggested workaround (using _sed_) you shall be able to do that. It is to be expected to bring provide you different outp

[2019-11-05 19:59] jonathan-chin commented on #62
@mmzx the above workaround works for left aligning but the primary and foreign keys are not being formatted. I noticed this in the README:

`NB OSX users: for text formatting of keys (bold and italics) you may need to reinstall graphviz with pango support:`

However, after doing what it suggested (`brew install graphviz`), the keys are still not formatted. is the issue (alignment and formatting) w

[2019-11-06 10:01] mmzx opened #65 "Resolve compiler warnings when compiling with -Wall"

[2019-11-09 19:53] mmzx commented on #65
#66 resolves this ticket.

[2019-11-09 19:53] #65 closed

[2019-11-09 19:54] mmzx opened #67 "Adopt CI configuration to use multiple ghc versions."

[2019-11-24 17:12] mmzx commented on #63
Have just been resolved in (#68).

[2019-11-24 17:12] #63 closed

[2019-12-03 09:09] jonathan-chin commented on #62
following up on this. I installed ERD on a new machine (completely different from previous). Now running Ubuntu 18.04LTS

color and styling work but everything is right aligned like before. this happens, again, with just the sample ERD file.

[2019-12-03 20:02] mmzx commented on #62
Okay. I had some commits that were not pushed from recent days. It is now explicitly defined to align to the left, which is the default anyway.
Could you please check again? You would need to build `erd` by cloning the master branch and building a binary.
[code]

[2019-12-04 11:52] jonathan-chin commented on #62
thanks @mmzx ! my ubuntu system works perfectly now.
on osx, the text alignment is fixed but some of the other styling isn't showing through (underlining and italics primary / foreign keys). this is the example simple.er:

![simple](https://user-images.githubusercontent.com/7519412/70140216-3e891a00-1662-11ea-9d03-14c49386c2fb.png)

any idea why? it's not a dealbreaker; honestly, the text alignmen

[2019-12-04 21:48] mmzx commented on #62
Yeah, stick with **erd**! :P
I suspect these differences are related to local settings, which I think is inherently difficult to be prepared for. There is some work/idea in preparation to explicitly define more of these properties. In such situations we should compare output files. So, the resulted **dot** file is the following via the command `erd -i simple.er  -f dot` on my machine:
[code]
Inter

[2019-12-05 00:30] jonathan-chin commented on #62
here's what I get with the same command:

[code]

So our dot's are the same. What's the next step in processing?

[2019-12-08 16:54] mmzx commented on #62
I have just done some searching in the hope there will be straightforward answer(s). I believe we are dealing with the same type of situation as described in [1].

The content of the dot file match up against the expected content: that's how far `erd` itself can go; the rendered result may differ based on platform related differences.

My current recommendation for the short therm would be to stic

[2019-12-08 16:55] #55 closed

[2019-12-08 17:02] jonathan-chin commented on #62
thanks! the other stylings aren't deal breakers but the alignment was.

[2019-12-08 18:10] mmzx commented on #62
If you could help finding out the dirty details that would be great at least to know the reasons to have an explanation.

[2019-12-08 18:30] jonathan-chin commented on #62
I'm not sure where to begin. what happens to the dot file after it's generated? if I know that, I could pick up the line of investigation.

[2019-12-09 16:43] mmzx commented on #62
I have created a [ticket](https://gitlab.com/graphviz/graphviz/issues/1636), hopefully we will gain some insights.

[2019-12-09 16:46] mmzx commented on #62
I have created a [ticket](https://gitlab.com/graphviz/graphviz/issues/1636), hopefully we will gain some insights.

[2019-12-09 18:38] mmzx commented on #62
@jonathan-chin , would you mind if you (we) continue the discussion on the gitlab ticket, specifically anything that is related to *dot* itself?

[2019-12-11 21:52] mmzx commented on #62
Hell, yeah! Thank you!

I am going to update the readme based on the inputs you have kindly provided.
If you think all of your issues has been resolved, I would like to close this. Please let me know!

[2019-12-11 21:53] jonathan-chin commented on #62
my issues have been solved!

[2019-12-11 22:02] #62 closed

[2020-01-12 16:20] bollafa commented on #36
I have added a very basic support of ports on this [fork](https://github.com/bollafa/erd/commit/8c0bc53bb474fa57492fd4df6ee3e6ee867e8369):
The following erd code
[code]
produces: ( I don't know whether the difference in height between the tables is correct behaviour
or the line should be diagonal instead of horizontal )
![image](https://user-images.githubusercontent.com/5232762/72221841-9fa7e580-3

[2020-01-12 18:42] mmzx commented on #36
Brilliant!
@bollafa , I have a solution that automatically matches the ports without having to do explicit declaration, but the solution is not complete... yet, and it required a fair amount of refactoring of the current code.

Also, doing the matching between ports and relevant fields is actually possible to be performed without explicit declaration. So, this would be a more involved work, but ev

[2020-01-15 22:44] mmzx commented on #36
* Approach-1
There the idea is to identify ports based on their naming, for example:
Field _birth_place_id_ to be port-ed to the field _id_ in the related table, when it exists in the given table. This is a rule based implicit approach, that is, foreign key identifiers would need to be called explicitly with with a pre-defined ending: __id_.
One could have a look at the incomplete solution in the

[2020-01-18 18:07] bollafa opened #71 "Long command line arguments do not work properly"
Long command line arguments is chosen even though its full name hasn't been provided.
Given command line argument:
`erd --ed`
Should output:
`unrecognized option "--ed" `
But instead it outputs:
`option "--ed" requires argument EDGE `
It seems that if just part of the name of the argument matches, it matches the option with the corresponding full name. ( i.e `--ed` matches to `--edge` )
I don't kn

[2020-01-18 18:16] bollafa opened #72 "Add support of regular dot tables as output, apart from html."
As the [README](https://github.com/BurntSushi/erd/blob/master/README.md) itself promotes:

There's a very rough support of it [here](https://github.com/bollafa/erd/commit/7ec9fa65b22b23d10d69e25a57bc4fff7fabed10)

It's still quite ad-hoc, and I created this issue to discuss the implementation details, such as
the new option name and how to refactor the function that maps an ER diagram to a GraphVi

[2020-01-18 19:54] bollafa commented on #71
I have checked the original GNU getopts ( haskell getOpts is just a port ) and it is i tended behaviour. Im closing this then

[2020-01-18 19:54] #71 closed

[2020-01-22 23:10] mmzx commented on #72
Hi @bollafa,
Thank you, I have compiled and used your [solution](https://github.com/bollafa/erd/commit/7ec9fa65b22b23d10d69e25a57bc4fff7fabed10).

It is operational, so would you mind making the usual ceremony of creating a pull-request from your branch _vanilla-dot_, so perhaps the details of the code could be further specified in the PR?

I am not sure whether the _--no-html_ flag is good as a n

[2020-01-23 00:33] #67 closed

[2020-01-23 14:28] bollafa commented on #72
I have created the ceremonial PR :) .

I don't mind at all changing the flag name. I think _--no-html_ can be quite misleading to someone that does not know the implementation details of Erd. _dot-entity_ seems okay to me. Just another _- perhaps unnecessary -_ idea:  what do you think about _dot-table_?

[2020-01-23 15:27] bollafa commented on #36
Could you please further explain **approach-1** post-fix pattern? The way I understand it:
[code]
In this case there would be a relation from table _otherEntity_ ( omitted for simplicity ) to attribute _id_ in table _birth_place_. And another relation from _otherEntity_ to attribute _"birth country"_ in table _birth_place_. Is this correct?

If I got your last paragraph correctly, not declaring po

[2020-01-23 22:53] mmzx commented on #72
I'm not against _dot-table_, although still think saying entity is more descriptive. Please choose the one you think is better.

[2020-01-25 15:01] mmzx commented on #72
(PR #74) resolves this issue.

[2020-01-25 15:01] #72 closed

[2020-01-25 15:02] mmzx opened #75 "Include stylish-haskell in CI script."
In order to force standard code formatting.

[2020-01-28 18:45] mmzx commented on #75
Resolved by #76 .

[2020-01-28 18:45] #75 closed

[2020-02-02 12:17] mmzx opened #78 "Building haddock documentaion for hackage fails."
The sequence of commands explained in [here](https://hackage.haskell.org/upload#candidates) fails with the result
[code]
It would be nice to have the code documentation uploaded onto hackage as well.

[2020-02-02 12:18] mmzx opened #79 "Creating an extensive test suite."
Creating an extensive test suite, so we could add syntactical extensions. Keeping compatibility is of high priority.

[2020-02-02 12:19] mmzx opened #80 "Making package ghc-8.8.1 compatible."

[2020-04-26 08:57] hooopo commented on #36
@windbender  you can have a try [DrawERD](https://help.drawerd.com)
![image](https://user-images.githubusercontent.com/63877/80302821-fae4a780-87de-11ea-848d-b4e242e64392.png)

[2020-06-14 19:05] mmzx commented on #80
Resolved by #81 .

[2020-06-14 19:05] #80 closed

[2020-10-28 16:25] flniu opened #83 "Vim support for the ER file format"
Thanks for this cool tool!

I created a [vim syntax file for the ER file format](https://github.com/flniu/er.vim). Welcome to have a try and give some feedbacks.

[2020-12-15 00:33] muraii opened #85 "Build Error on WSL1 + Ubuntu 18.04"
Hello!

I'm trying to build this on Ubuntu 18.04 on WSL1. Everything goes fine until attempting to build `erd-0.2.1.0` itself. This is from the `erd-0.2.1.0.log`:

[code]

I let `cabal` install all the dependencies, fwiw.

I'm _guessing_, given this is in`src/Text/Parsec/Erd/Parser.hs`, that I'd clone the repo and change the line

`    $ A Attribute {field = n, pk = ispk, fk = isfk, aoptions = opt

[2020-12-15 08:57] mmzx commented on #85
About maintenance, fortunately on the contrary. :+1:

Could you please post here your ghc version that you've used to build? `ghc -v`

Also, there are build instructions in the readme, including running the tool via docker. First of all I highly recommend you to look at it. In case you get stuck, please ask ahead!

[2020-12-15 16:06] mmzx commented on #85
Also, what is the command you use for building it?

[2020-12-15 18:40] muraii commented on #85
I'm installing with a simple `cabal install erd`. I also tried `cabal install --allow-newer erd`, not so much because I thought it would do the job, but just to try what had worked on slightly similar issues with other folks on other issues.

I'm running `ghc` v8.0.2.

I read through the build instructions and considered the Docker route but thought I'd get this going natively if I could.

[2020-12-15 18:59] mmzx commented on #85
You do not need to know Haskell, but if you want to build it yourself a compatible environment is needed.

`ghc-8.0.2` is "ancient" [3] and would not be supported, please find [1] the by default supported ones. - I wonder about your installation, but that's off-topic.

If you want to stick with _cabal_ it is the _v2 commands_ the way to go, as the readme says in the related cabal section.

If you

[2020-12-15 19:22] muraii commented on #85
This is probably down to my installing `Haskell.Platform` from the Ubuntu 18.04 repository and it being an older version, with older `cabal`, etc. I first tried `cabal new-install erd` as in the `README` and `cabal` belched at it.

I'll get back with results.

[2020-12-15 19:42] mmzx commented on #85
I am sorry, but no personal experience with _haskell-platform_! Your cabal version shall be _>= 3.x_.

[2020-12-16 05:52] muraii commented on #85
Installed appropriate versions and `erd` works as advertised. Thank you for your help.

[2020-12-16 05:52] #85 closed

[2021-01-02 23:09] andres-lowrie commented on #36
@mmzx  That sounds awesome!

I'm wondering if it would be possible to piece-meal them however for the sake of getting it deployed into the tool faster; First doing the explicit approach that @bollafa  describes  (since it sounds like it required less code refactoring) and then adding the implicit stuff you're doing.

[2021-01-02 23:10] andres-lowrie commented on #79
I'm just learning Haskell so y'all would have to be patient with me ... but I'm willing to work on this were needed so that changes could be introduced faster.

Any advice, blogs, books etc. would be great

[2021-01-04 21:31] mmzx opened #87 "Building docker image from scratch fails"
Example input: `erdtag="0.2.1.0-2"; cd erd && docker build -t erd:$erdtag  . && docker run -it erd:$erdtag "--help"`
Results in:
[code]

[2021-01-09 22:26] mmzx commented on #87
This is a local setup issue.

[2021-01-09 22:26] #87 closed

[2021-02-20 14:00] noteed opened #90 "./build-static_by-nix.sh doesn't work"
I guess this is because of this: https://github.com/nh2/static-haskell-nix/issues/95

For the record, the problem looks like:

[code]

[2021-03-18 09:01] kukimik opened #92 "Add support for crow's foot notation"
The diagrams produced currently use the [UML notation](https://vertabelo.com/blog/technical-articles/uml-notation) for relationship cardinality.

How about adding an option to produce diagrams using the [crow's foot notation](https://vertabelo.com/blog/crow-s-foot-notation/)?
This looks pretty easy to do and I need this anyway, so I can make a PR if  there is any interest in this feature.

(Perhap

[2021-03-18 09:13] kukimik opened #93 "Make edges style (dashed/solid) customizable"
The edges in the graph are dashed and this is hardcoded in this line: https://github.com/BurntSushi/erd/blob/06c72643682a42a890a2ffadac82cfc1dafd5edd/app/Main.hs#L54

Can we make this customizable? I am aware of the _Philosophy_ statement:

However, this dashed style may be confusing, because in some ERD notations (e.g. [Baker's notation](https://vertabelo.com/blog/barkers-erd-notation/) dashed li

[2021-03-18 09:26] kukimik opened #94 "Including NOT NULL, UNIQUE, types and comments in the syntax"
Are there any plans to include

* NOT NULL constraints,
* attribute types,
* UNIQUE constraints (on a single attribute or a group of attributes),
* comments (on entities and attributes)

directly in the syntax? If this wasn't planned, what is your opinion about it?

I know I can have this on my diagram by using labels (as in the examples) and, say, adding extra attributes that mimick the UNIQUE co

[2021-03-18 09:28] mmzx commented on #93
Sure, go ahead. You may look up the related graphviz documentation for the supported types of edges.

[2021-03-18 09:31] mmzx commented on #94
This is a little more involved since certainly requires changes in syntax.

[2021-03-18 09:33] BurntSushi commented on #94
This tool is really about showing the relationships between entities. Having first class support for a whole bunch of different SQL features should be a non-goal IMO.

[2021-03-18 09:35] kukimik commented on #10
@ftomassetti Are you still interested in this issue?

[2021-03-18 09:42] kukimik commented on #94
Sure, however even in the examples the types and not null constraints are included. They are a natural thing to include in such diagrams.

From my job experience I'd say that uniques are also included very often, but I'd be happy with just the types and not nulls.

[2021-03-19 21:21] kukimik commented on #92
I've noticed https://github.com/BurntSushi/erd/issues/33#issuecomment-485968070, so I'm not the only one who is interested in this.

[2021-03-19 21:56] kukimik opened #96 "Labels of ortho edges are misplaced"
When the edge type is set to `ortho`, the labels are misplaced. See the label "home" and "away" in the example below.

[code]

![misplaced_labels](https://user-images.githubusercontent.com/53443372/111845316-e2084780-8904-11eb-9568-e3a630373aea.png)

This is really a [Graphviz issue](https://gitlab.com/graphviz/graphviz/-/blob/master/lib/ortho/ortho.c#L1265):
[code]

Following their suggestion, I

[2021-03-24 11:57] kukimik commented on #79
Perhaps [golden testing](https://ro-che.info/articles/2017-12-04-golden-tests) may fit the project?

Also, moving as much as possible (including the conversion from ER to Graphviz) from the executable to the library (from `app/` to `src/`) could ease the testing (see also #10).

[2021-03-24 12:51] kukimik opened #97 "Wrong png image of simple.er in the readme"
In README.md the image following the line

is wrong (the names of the entity "Location" and its attributes are different than in the `simple.er` file that it illustrates). This is mildly confusing.

The image is hosted at http://burntsushi.net/stuff/erd-example-simple.png , so I can't replace it in a PR.

@BurntSushi Can you replace the image with the one below? (Or maybe I can replace the URL in

[2021-03-24 13:04] BurntSushi commented on #97
Done. Would probably be good to use a different URL though. Maybe commit the image to the repo?

[2021-03-24 22:29] kukimik commented on #97
Thanks!

That was my first thought. However, I wasn't sure about this, because there must be some reason that the image is not already there. Maybe this is a historical reason that is no longer relevant.

If it is so, then I'll make a PR after #91 and #95 are merged to avoid merging the README.

[2021-04-08 08:45] #35 closed

[2021-04-08 08:45] #83 closed

[2021-04-08 10:21] kukimik commented on #78
This looks related: https://github.com/haskell/cabal/issues/6679.

[2021-04-11 22:18] johanstrand opened #99 "Problem with non US-ASCII characters"
I get the error message `hGetContents: invalid argument (invalid byte sequence)` When I try a ERD specification with Swedish characters Å, Ä or Ö. I do this using Kroki (https://kroki.io/), but I suspect the issue is with erd since other diagram types, for instance GraphWiz, works.
A quick google points to using **hSetEncoding** to avoid this problem.

[2021-04-12 11:51] kukimik commented on #99
I've managed to reproduce the bug by building the [dockerfile used by `kroki`](https://github.com/yuzutech/kroki/blob/6cd8ddf423683e56db841149b3c5afb8e7ff09ce/server/ops/docker/build-static-erd) and then passing a file containing non-ASCII characters:

[code]

[2021-04-12 20:07] mmzx commented on #99
Creating an image using the above mentioned Dockerfile by @kukimik I was able to reproduce the issue.
However, using the following _erd_ file:
[code]
which contains additional Unicode characters: lambda and some other Greek ones ( ;) ) results the expected output when _erd_ is freshly compiled from source and executed on the same system where it was compiled.

The container is very helpful to chec

[2021-04-13 13:13] kukimik commented on #99
https://serokell.io/blog/haskell-with-utf8 is an interesting read.

I may try to fix this, maybe this week.

[2021-04-13 15:43] kukimik commented on #99
Also, I've found that the problem does not come from the build environment. I can reproduce it using `erd` compiled on my machine using stack. I just need to change the current locale (I'm on Linux and using @mmzx's example file):

[code]

I've tried the simplest solution using [with-utf8](https://hackage.haskell.org/package/with-utf8) (i.e. `main = withUtf8 $ do ...`) and it seems to work ok with

[2021-04-13 15:47] mmzx commented on #99
I've also started looking into it. Right now [this place](https://github.com/haskell/stylish-haskell/blob/main/src/Main.hs#L102) comes to my mind where setting the encoding is used for the very same purpose.

Later tonight I will give it a try.

[2021-04-13 21:00] mmzx commented on #99
So far...
I've just tried [these](https://github.com/BurntSushi/erd/commit/b27443aee977de9c4005f34a37f239f7c29291c6) experimentally.

When the `LANG` environment variable gets `unset` it fails. Indeed, the LANG variable is not set in the above mentioned docker image when using the _bash_ shell.

There is an alternative way, but that involves the use of `Data.Text.IO` from `text` package which itse

[2021-04-16 07:29] #93 closed

[2021-04-24 11:27] #97 closed

[2021-05-03 19:58] #33 closed

[2021-05-03 19:58] #92 closed

[2021-05-03 20:02] mmzx opened #101 "Updating CI config"
- Add back stylish-haskell to CI script.
- stack and newer ghc version

[2021-05-21 20:19] sualeh opened #104 "Enhancement: Publish image on Docker Hub"
Please publish a versioned image with Graphviz installed on Docker Hub for ease of use as a tool.

[2021-05-28 05:08] ddacunha commented on #90
If like me you make installed `stack` via `apt install` you are likely getting an old version.

[code]
At the time of writing the latest is `2.7.1`, you need to do a `stack upgrade`

[2021-06-03 14:14] Baerbeisser opened #105 "Option to resize generated ERD, change aspect ratio"
Problem: the font of an ERD with 2nd level relations ([main]--[2]--[3]) is barely readable in a presentation, but fills only the upper half of the display. Too wide, too less height.

I tried to set the font to a bigger size, hoping Erd would reorder the tables but:
- Changing it on some tables only, the changed tables look the same, all other smaller.
- Changing it on all tables, everything loook

[2021-06-03 18:15] #99 closed

[2021-06-19 14:41] kukimik commented on #105
I'd try to generate dot files using `erd`, then tweak them manually and run through Graphviz.

Some of the options that tell Graphviz how to layout the diagram are hardcoded in `erd`, and many of them are inacessible through `erd`'s interface. If you don't mind that, you can tweak the code and recompile. You may for example try to remove `A.RankDir A.FromLeft` here: https://github.com/BurntSushi/e

[2021-07-02 14:08] jmriego opened #107 "different ways of distributing the models on the diagram"
Hi!
I was wondering if it's possible to organise the models in some way. When I don't add any relationships the models are stacked vertically but I'd prefer to change that if possible.
If not, at least some hints to set the models left or right of the diagram would be useful

Thanks!

[2021-07-02 15:44] mmzx commented on #107
Hi,
The entities are placed in a way as _GraphViz_ finds it appropriate to render. A specifically desired placement is probably difficult to achieve, influencing the placement may be possible: there could be parameters on the API of GraphViz but those are not supported directly by _erd_.
Maybe you could apply post processing on the _dot_ format which can be obtained by using _erd_ with the `-d` sw

[2021-07-02 15:49] mmzx commented on #105
@kukimik I like the idea of custom properties, as long it would not introduce additional complexity regarding the configuration and consistency with existing switches. I am wondering...

[2021-07-03 10:36] jmriego commented on #107
thanks @mmzx ! that looks indeed like an option

I am trying to understand how this works. I was looking at a similar program https://github.com/ehne/ERDot and it seems like they accept the `rankAdjustments` parameter to adjust this. Not sure if they can influence GraphViz directly or they do something else like modifying the positions directly

[2021-08-30 13:10] kukimik commented on #105
I was wrong. Using `UnknownAttribute` is not a good idea. Although this _could_ work,  the `grapviz` library docs forbid using the `UnknownAttribute` constructor for this. See the docs and sources of [validUnknown](https://hackage.haskell.org/package/graphviz-2999.20.1.0/docs/Data-GraphViz-Attributes-Complete.html#v:validUnknown).

[2021-11-12 06:43] akdor1154 commented on #40
FWIW the following gives me a static binary (except for glibc) from current master:
[code]

[2022-11-05 15:49] Mogztter commented on #1
https://kroki.io/ supports ERD:

[code]

https://kroki.io/erd/svg/eNqLDkgtKs7Pi-XSykvMTeXKSM1MzyjhKodQ2kmZRSUZ8Tn5yYklmfl58ZkpXFzRPlAeUAuQn5xZUslVXJJYksqVnF-aV1JUycUFMVJBS1fXUAGmGgCFAiQX

<img src=https://kroki.io/erd/svg/eNqLDkgtKs7Pi-XSykvMTeXKSM1MzyjhKodQ2kmZRSUZ8Tn5yYklmfl58ZkpXFzRPlAeUAuQn5xZUslVXJJYksqVnF-aV1JUycUFMVJBS1fXUAGmGgCFAiQX>

[2022-11-05 15:50] Mogztter commented on #40
@mmzx I see that https://github.com/BurntSushi/erd/releases/tag/v0.2.1.0-RC1 has binaries attached. Would it be possible to do that for the current and next releases?

[2022-11-09 19:54] mmzx commented on #40
@Mogztter Yes, should be possible. Will do the binaries over the weekend, stay tuned please.

[2022-11-13 18:05] mmzx commented on #40
@Mogztter I've just created a PR to release a new version, it would be due anyway regardless static binary availability.

However, I have failed making the compiling work using `static-haskell-nix`. How would you - if ever that happened - otherwise create a statically linked executable?

Would you be fine using a docker container as an alternative?

[2022-11-13 21:29] Mogztter commented on #40
For now, we are using a Docker container to produce an executable:

https://github.com/yuzutech/kroki/blob/b7b102d074ace07ba6260378691088b88e04a032/server/ops/docker/jdk11-alpine/Dockerfile#L102-L122

Since we are using a tag, it would be better if the result was attached to a release. Currently, we are building it every time 😞

[2022-11-21 19:18] #104 closed